.selectionModal {
  position: fixed;
  top: 50%;
  left: 50%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 40%;

  position: fixed;
  left: 30%;
  top: 5%;
}


.doneBox {
  background-color: green;
}

.doneBox:hover {
  background-color: darkgreen;
}

.selectBox {
  background-color: whitesmoke;    
}

.selectBox:hover {
  background-color: whitesmoke;
}